.site-footer {
  background-color: #f9f9f9;
  font-size: rem-calc(13px);
  clear: both;
  padding: 20px 0;
  border-top: 1px solid #ddd;
}

// Footer menu
.footer-menu {
  float: right;
  @include list-unstyled;
  li {
    list-style: none;
    float: left;
    margin: 0 0 0 rem-calc( 20px );
    &.current-menu-item > a,
    &.current_page_parent > a {
      color: #000;
      text-decoration: underline;
    }
  }
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}