.site-header {
  background-color: #eee;
  padding-top: rem-calc( 10px );
  padding-bottom: rem-calc( 10px );
  transition: .3s ease;
  &.js-fixed {
    position: sticky;
    top: 0;
    z-index: 99;
  }
}

.header-logo {
  width: rem-calc( 151px );
  height: rem-calc( 25px );
  position: relative;
  float: left;
  margin-top: rem-calc( 15px ) !important; // overwrite :first-child
  margin-bottom: 0;
  a {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.header-nav-toggle {
  background: red;
  color: #fff;
  text-decoration: none;
  float: right;
  display: block;
  padding: rem-calc(10px) rem-calc(15px) rem-calc(10px) rem-calc(50px) !important;
  position: relative;
  .i-menu {
    font-size: rem-calc(24px);
    line-height: rem-calc( 24px );
    position: absolute;
    left: rem-calc(15px); // same as padding right
    top: 50%;
    transform: translateY(-50%);
  }
  @include media-breakpoint-up( lg ) {
    display: none;
  }
}

.header-nav-close {
  background: none;
  text-decoration: none;
  border: 0;
  padding: rem-calc(10px);
  position: absolute;
  top: 0;
  right: 0;
  .i-x {
    font-size: rem-calc( 36px );
    line-height: rem-calc( 36px );
  }
  &:hover,
  &:focus {
    background-color: #fff;
  }
  @include media-breakpoint-up( lg ) {
    display: none;
  }
}
