// Gallery
.gallery {
  float: left;
  width: 100%;
}

.gallery-item {
  margin: 0 0 $global_margin_bottom !important; /* Overwrite default css */
}

.gallery-icon img {
  background: #fff;
  padding: rem-calc(5px);
  border: rem-calc(1px) solid #ddd !important; /* Overwrite default css */
  box-shadow: 0 0 rem-calc(2px) rgba(0,0,0,.15);
}

.gallery-caption {
  background: #f1f1f1;
  display: block;
  width: 80%;
  padding: rem-calc(5px);
  border: rem-calc(1px) solid #eee; /* Overwrite default css */
  margin: rem-calc(5px) auto 0 !important;
}

.gallery-images-count {

}

// Images
.size-small,
.size-medium,
.size-large,
.size-full {
  // padding: rem-calc(5px); // Center the Image, Required
}

.wp-caption {
  border: rem-calc(1px) solid #ddd;
  margin-bottom: $global_margin_bottom;
  box-shadow: 0 0 rem-calc(2px) rgba(0,0,0,.15);
  a {
    display: block; // Containing the Image
  }
}

.excerpt .wp-caption { margin: 0 auto; }

.wp-caption-text {
  font-style: italic;
  text-align: center;
  margin: rem-calc(10px) !important; // Overwrite .content p
}

/* Format Status */
.format-status .excerpt { font-size: $root_font_size + 3; }


// Aside
.format-aside .excerpt {
  padding-left: rem-calc(20px);
  border-left: rem-calc(10px) solid #eee;
}


// Chat
.format-chat .excerpt {
  background: #eee;
  padding: rem-calc(20px);
}


// Quote
.format-quote cite {
  float: right;
}


// Video
.format-video embed,
.format-video video {
  padding: rem-calc(4px);
  border: rem-calc(1px) solid #ddd;
  margin-bottom: rem-calc(10px);
  box-shadow: 0 0 rem-calc(2px) rgba(0,0,0,.15);
}